body,
html {
  margin: 0px;
  padding: 0px;
}
header {
  padding-left: 80px;
  padding-right: 50px;
  padding-top: 40px;
}
header nav .navBarText {
  text-decoration: none;
  color: #3E3E3E;
  margin-left: 35px;
  font-weight: 600;
}
header nav .logo {
  margin-right: 80px;
}
header nav .getStarted {
  margin-left: 355px;
  margin-top: -20px;
}
section.home-section-1 {
  margin-bottom: 150px;
}
section.home-section-1 .slider {
  width: 100%;
}
section.home-section-1 .imgSlider {
  position: absolute;
  z-index: 2;
  width: 1100px;
  margin-top: -80px;
  margin-left: -100px;
}
section.home-section-1 #a1 {
  position: absolute;
  z-index: 3;
  color: #AEAEAE;
  margin-top: -30px;
  font-size: 16px;
  margin-left: -30px;
}
section.home-section-1 #p1 {
  position: absolute;
  z-index: 3;
  font-size: 18px;
  margin-left: -30px;
  margin-top: 0px;
  font-weight: 600;
}
section.home-section-1 #a2 {
  position: absolute;
  z-index: 3;
  color: #AEAEAE;
  margin-top: -30px;
  font-size: 16px;
  margin-left: 30px;
}
section.home-section-1 #p2 {
  position: absolute;
  z-index: 3;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 0px;
  font-weight: 600;
}
section.home-section-1 #a3 {
  position: absolute;
  z-index: 3;
  color: #AEAEAE;
  margin-top: -30px;
  font-size: 16px;
  margin-left: 22px ;
}
section.home-section-1 #p3 {
  position: absolute;
  z-index: 3;
  font-size: 18px;
  margin-left: 22px ;
  margin-top: 0px;
  font-weight: 600;
}
section.home-section-1 #a4 {
  position: absolute;
  z-index: 3;
  color: #AEAEAE;
  margin-top: -30px;
  font-size: 16px;
  margin-left: 60px;
}
section.home-section-1 #p4 {
  position: absolute;
  z-index: 3;
  font-size: 18px;
  margin-left: 60px;
  margin-top: 0px;
  font-weight: 600;
}
section.home-section-2 {
  margin-bottom: 150px;
}
section.home-section-2 #section2H2 {
  color: #3E3E3E;
  margin-left: 50px;
  margin-bottom: 30px;
  padding-right: 240px;
  margin-top: 100px;
  font-weight: 700;
}
section.home-section-2 #pSection2 {
  color: #3E3E3E;
  font-size: 18px;
  margin-left: 50px;
  margin-bottom: 30px;
  padding-right: 100px;
}
section.home-section-2 #a1Section2 {
  color: #FFA800;
  font-size: 18px;
  margin-left: 50px;
}
section.home-section-2 #section2Absolute {
  position: absolute;
  z-index: 2;
  margin-left: -625px;
  margin-top: 350px;
}
section.home-section-2 #playButton {
  position: absolute;
  z-index: 3;
  margin-left: -425px;
  margin-top: 410px;
}
section.home-section-3 {
  margin-bottom: 150px;
}
section.home-section-3 .prelative-box h2 {
  text-align: center;
  margin-bottom: 100px;
}
section.home-section-3 .prelative-box .sec3Icon {
  margin-top: 100px;
  margin-bottom: 20px;
}
section.home-section-3 .prelative-box .sec3Tittle {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
section.home-section-3 .prelative-box .sec3Caption {
  font-size: 16px;
  color: #626262;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}
section.home-section-3 .prelative-box .content-box {
  margin-right: 5px;
  margin-left: 5px;
}
section.home-section-4 {
  margin-bottom: 150px;
}
section.home-section-4 #sec4Img1 {
  width: 100%;
  padding-left: 100px;
}
section.home-section-4 #sec4Img2 {
  position: absolute;
  z-index: 2;
  margin-left: -500px;
  margin-top: 30px;
}
section.home-section-4 #sec4H2 {
  font-weight: 700;
  color: #3E3E3E;
  padding-right: 200px;
  margin-bottom: 25px;
  margin-top: 70px;
}
section.home-section-4 .content-box-sec4-1 {
  margin-left: 100px;
}
section.home-section-4 #sec4TittleCaption {
  font-size: 20px;
  color: #626262;
  padding-right: 130px;
}
section.home-section-4 .sec4ListNumber {
  margin-left: -20px;
  width: 60px;
}
section.home-section-4 .sec4ListTittle {
  font-size: 16px;
  font-weight: 700;
  color: #3E3E3E;
}
section.home-section-4 .sec4ListCaption {
  font-size: 14px;
  color: #626262;
}
section.home-section-5 {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 150px;
}
section.home-section-5 #sec5Tittle {
  text-align: center;
  color: #3E3E3E;
  font-weight: 700;
  padding-left: 375px;
  padding-right: 375px;
  margin-bottom: 25px;
}
section.home-section-5 #sec5TittleCaption {
  color: #626262;
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;
}
section.home-section-5 .content1 {
  margin-bottom: 130px;
  margin-right: -50px;
}
section.home-section-5 .content5 {
  margin-top: 45px;
  width: 100%;
}
section.home-section-5 .sec5Absolut1 {
  z-index: 2;
  position: absolute;
  top: 210px;
  left: 20px;
}
section.home-section-5 .sec5Absolut2 {
  z-index: 2;
  position: absolute;
  top: 625px;
  left: 20px;
}
section.home-section-5 .sec5Absolut5 {
  z-index: 2;
  position: absolute;
  top: 625px;
  left: 20px;
}
section.home-section-5 .sec5BuildingType1 {
  z-index: 3;
  position: absolute;
  top: 240px;
  left: 60px;
}
section.home-section-5 .price1 {
  font-size: 16px;
  color: #FFA800;
  font-weight: 700;
  z-index: 3;
  position: absolute;
  top: 245px;
  left: 140px;
}
section.home-section-5 .propertyName1 {
  font-size: 16px;
  font-weight: 700;
  color: #282F65;
  z-index: 3;
  position: absolute;
  top: 275px;
  left: 140px;
}
section.home-section-5 .propertyLocation1 {
  font-size: 16px;
  color: #AEAEAE;
  z-index: 4;
  position: absolute;
  top: 305px;
  left: 140px;
}
section.home-section-5 .bath1 {
  font-size: 16px;
  color: #626262;
  z-index: 3;
  position: absolute;
  top: 345px;
  left: 90px;
}
section.home-section-5 .bed1 {
  font-size: 16px;
  color: #626262;
  z-index: 3;
  position: absolute;
  top: 345px;
  left: 200px;
}
section.home-section-5 .size1 {
  font-size: 16px;
  color: #626262;
  z-index: 3;
  position: absolute;
  top: 345px;
  left: 300px;
}
section.home-section-5 .sec5BuildingType2 {
  z-index: 3;
  position: absolute;
  top: 660px;
  left: 60px;
}
section.home-section-5 .price2 {
  font-size: 16px;
  color: #FFA800;
  font-weight: 700;
  z-index: 3;
  position: absolute;
  top: 665px;
  left: 140px;
}
section.home-section-5 .propertyName2 {
  font-size: 16px;
  font-weight: 700;
  color: #282F65;
  z-index: 3;
  position: absolute;
  top: 695px;
  left: 140px;
}
section.home-section-5 .propertyLocation2 {
  font-size: 16px;
  color: #AEAEAE;
  z-index: 4;
  position: absolute;
  top: 725px;
  left: 140px;
}
section.home-section-5 .bath2 {
  font-size: 16px;
  color: #626262;
  z-index: 3;
  position: absolute;
  top: 760px;
  left: 90px;
}
section.home-section-5 .bed2 {
  font-size: 16px;
  color: #626262;
  z-index: 3;
  position: absolute;
  top: 760px;
  left: 200px;
}
section.home-section-5 .size2 {
  font-size: 16px;
  color: #626262;
  z-index: 3;
  position: absolute;
  top: 760px;
  left: 300px;
}
section.home-section-5 .sec5BuildingType5 {
  z-index: 3;
  position: absolute;
  top: 660px;
  left: 60px;
}
section.home-section-5 .price5 {
  font-size: 16px;
  color: #FFA800;
  font-weight: 700;
  z-index: 3;
  position: absolute;
  top: 665px;
  left: 140px;
}
section.home-section-5 .propertyName5 {
  font-size: 16px;
  font-weight: 700;
  color: #282F65;
  z-index: 3;
  position: absolute;
  top: 695px;
  left: 140px;
}
section.home-section-5 .propertyLocation5 {
  font-size: 16px;
  color: #AEAEAE;
  z-index: 4;
  position: absolute;
  top: 725px;
  left: 140px;
}
section.home-section-5 .bath5 {
  font-size: 16px;
  color: #626262;
  z-index: 3;
  position: absolute;
  top: 760px;
  left: 90px;
}
section.home-section-5 .bed5 {
  font-size: 16px;
  color: #626262;
  z-index: 3;
  position: absolute;
  top: 760px;
  left: 200px;
}
section.home-section-5 .size5 {
  font-size: 16px;
  color: #626262;
  z-index: 3;
  position: absolute;
  top: 760px;
  left: 300px;
}
